# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
import pandas_datareader.data as web

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [12]:
import datetime as dt

start = dt.datetime(2015, 1, 1)
end = dt.datetime.today()

print("Start Date:", start)
print("End Date:", end)

Start Date: 2015-01-01 00:00:00
End Date: 2024-05-15 22:58:10.001795

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [13]:
import yfinance as yf

df_apple = yf.download('AAPL', start='2015-01-01', end=end)
df_apple.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2015-01-02  27.847500  27.860001  26.837500  27.332500  24.402172  212818400
2015-01-05  27.072500  27.162500  26.352501  26.562500  23.714724  257142000
2015-01-06  26.635000  26.857500  26.157499  26.565001  23.716957  263188400
2015-01-07  26.799999  27.049999  26.674999  26.937500  24.049519  160423600
2015-01-08  27.307501  28.037500  27.174999  27.972500  24.973558  237458000

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [14]:
df_apple['stock'] = 'AAPL'
df_apple.head()

,Open,High,Low,Close,Adj Close,Volume,stock
Date,,,,,,,
2015-01-02,27.847500,27.860001,26.837500,27.332500,24.402172,212818400,AAPL
2015-01-05,27.072500,27.162500,26.352501,26.562500,23.714724,257142000,AAPL
2015-01-06,26.635000,26.857500,26.157499,26.565001,23.716957,263188400,AAPL
2015-01-07,26.799999,27.049999,26.674999,26.937500,24.049519,160423600,AAPL
2015-01-08,27.307501,28.037500,27.174999,27.972500,24.973558,237458000,AAPL

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [15]:
df_tsla = yf.download('TSLA', start='2015-01-01', end=end)
df_ibm = yf.download('IBM', start='2015-01-01', end=end)
df_msft = yf.download('MSFT', start='2015-01-01', end=end)

df_tsla['stock'] = 'TSLA'
df_ibm['stock'] = 'IBM'
df_msft['stock'] = 'MSFT'

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [37]:
df = pd.concat([df_apple,df_tsla,df_ibm,df_msft])

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [38]:
df['Date'] = df.index
df = df.set_index(['Date','stock'],drop=True)
df

,,Open,High,Low,Close,Adj Close,Volume
Date,stock,,,,,,
2015-01-02,AAPL,27.847500,27.860001,26.837500,27.332500,24.402172,212818400
2015-01-05,AAPL,27.072500,27.162500,26.352501,26.562500,23.714724,257142000
2015-01-06,AAPL,26.635000,26.857500,26.157499,26.565001,23.716957,263188400
2015-01-07,AAPL,26.799999,27.049999,26.674999,26.937500,24.049519,160423600
2015-01-08,AAPL,27.307501,28.037500,27.174999,27.972500,24.973558,237458000
...,...,...,...,...,...,...,...
2024-05-09,MSFT,410.570007,412.720001,409.100006,412.320007,412.320007,14689700
2024-05-10,MSFT,412.940002,415.380005,411.799988,414.739990,414.739990,13402300
2024-05-13,MSFT,418.010010,418.350006,410.820007,413.720001,413.720001,15440200
2024-05-14,MSFT,412.019989,417.489990,411.549988,416.559998,416.559998,15042700
2024-05-15,MSFT,417.899994,422.084991,417.269989,421.619995,421.619995,7250833

### Step 7. Create a dataFrame called vol, with the volume values.

In [43]:
vol = df['Volume']
vol

Date        stock
2015-01-02  AAPL     212818400
2015-01-05  AAPL     257142000
2015-01-06  AAPL     263188400
2015-01-07  AAPL     160423600
2015-01-08  AAPL     237458000
                       ...
2024-05-09  MSFT      14689700
2024-05-10  MSFT      13402300
2024-05-13  MSFT      15440200
2024-05-14  MSFT      15042700
2024-05-15  MSFT       7250833
Name: Volume, Length: 9432, dtype: int64

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [44]:
vol.unstack().resample('W').mean()

stock               AAPL           IBM        MSFT          TSLA
Date
2015-01-04  2.128184e+08  5.779673e+06  27913900.0  7.146600e+07
2015-01-11  2.266020e+08  5.115777e+06  31765060.0  6.812880e+07
2015-01-18  2.433813e+08  4.865950e+06  31417640.0  9.239760e+07
2015-01-25  1.987370e+08  8.170516e+06  34338150.0  6.079388e+07
2015-02-01  3.726742e+08  6.888538e+06  87557360.0  4.716060e+07
...                  ...           ...         ...           ...
2024-04-21  6.180784e+07  3.385820e+06  20840200.0  9.235778e+07
2024-04-28  4.826054e+07  8.465860e+06  24273580.0  1.298128e+08
2024-05-05  8.838526e+07  4.502800e+06  21416420.0  1.256741e+08
2024-05-12  6.013502e+07  3.484320e+06  15379820.0  7.559664e+07
2024-05-19  5.084925e+07  2.136893e+06  12577911.0  6.777465e+07

[490 rows x 4 columns]

In [30]:
# vol = vol.unstack().resample('W').sum()
# vol['year'] = vol.index.year
# vol['Week'] = vol.index.weekday
# vol.set_index(['year','Week'])
vol

stock             AAPL       IBM       MSFT       TSLA  year  Week
Date
2015-01-04   212818400   5779673   27913900   71466000  2015     6
2015-01-11  1133010000  25578884  158825300  340644000  2015     6
2015-01-18  1216906400  24329751  157088200  461988000  2015     6
2015-01-25   794948000  32682062  137352600  243175500  2015     6
2015-02-01  1863370800  34442689  437786800  235803000  2015     6
...                ...       ...        ...        ...   ...   ...
2024-04-21   309039200  16929100  104201000  461788900  2024     6
2024-04-28   241302700  42329300  121367900  649063900  2024     6
2024-05-05   441926300  22514000  107082100  628370700  2024     6
2024-05-12   300675100  17421600   76899100  377983200  2024     6
2024-05-19   152547761   6410680   37733733  203323960  2024     6

[490 rows x 6 columns]

### Step 9. Find all the volume traded in the year of 2015